
/*BASIC LAYOUT*/

/* Set border box for simplicity */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* DEFAULTS ensures all elements have same basic structure */

/* GRID */

.container,
.grid,
.grid-two,
.grid-three {
	margin: 0 auto; /* centers content on page */
	width: 95%;
	min-width: 36em;
}

.grid,
.grid-two,
.grid-three {
	display: grid;
	grid-gap: 10px 20px;
	padding: 10px;
}

.grid {
	grid-template-columns: 1fr;
}

.grid-two {
	grid-template-columns: repeat(2, 1fr);
}

.grid-three {
	grid-template-columns: repeat(3, 1fr);
}


/* GENERAL LAYOUT */

/* tags */

article {
	border: 1px solid #215ea8;
	border-radius: 10px;
	padding: 20px;
	position: relative;
}

img {
	border: 1px solid #215ea8;;
	border-radius: 50%;
}

footer,
header {
	color: black;
	display: block;
	font-size: small;
	line-height: 80px;
	min-height: 80px;
	position: relative;  /*hoping this will allow abs position inside*/
}

footer {
	padding-top: 40px;
}

ol {
  list-style-type: decimal;
}

p {
	padding-bottom: 4px;
}


/* classes */

.abs-bottom-center {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.abs-left {
	position: absolute;
	left: 0;
	margin-left: 0.5em;
}

.abs-right {
	position: absolute;
	right: 0;
	margin-right: 0.5em;
}

.offset-40 {
	margin-left:-40px;
	margin-bottom: -40px;
}

.nav li{
	display: inline-block;
	height: 76px;
	padding-left: 0.5em;
}

.row {
	background: #fff;
	padding-top: 40px ;
	padding-bottom: 20px;
}

.row-alt {
	background: #215ea8;
  background:    -moz-linear-gradient(left, #215ea8 1%, #7db9e8 100%);
  background: -webkit-linear-gradient(left, #215ea8 1%,#7db9e8 100%);
  background:         linear-gradient(to right, #215ea8 1%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215ea8', endColorstr='#7db9e8',GradientType=1 );

	border: 1px solid white;
	border-radius: 8px;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}








/*BUTTONS AND NAVIGATION*/

.btn {
	background-color: #7db9e8;
	border: 1px solid #215ea8;
	border-radius: 12px;
	color: #215ea8;
	display: inline-block;
	line-height: 1.5em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 7em;
}

.btn:active {
	position:relative;
	top: 2px;
}


/*TYPOGRAPHY*/


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #215ea8;
}

h1,
h2,
h3 {
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	text-align: left;
}

p {
	line-height: 1.2em;
}

a,
a:visited {
	color: #215ea8;
	font-weight: bold;
	text-decoration: none;
}


a:hover {
	text-shadow: 1px -1px #200;
}









